@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@import "tailwindcss";

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

nav {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 70%;
  height: 100%;
  z-index: 99; 
}

nav.open {
  top: 0;
  left: 0;
  @apply shadow-2xl p-8 lg:shadow-none lg:p-0
}

li.open {
  background: #fff;
}

nav ul {
  @apply flex items-start flex-col gap-8 mt-12 lg:flex-row lg:items-center lg:gap-6 lg:mt-0;;
}

nav ul li {
  @apply text-lg font-bold cursor-pointer lg:font-normal lg:text-base;
}

@media (min-width: 1024px) {
  nav {
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    z-index: auto;
  }

  nav.open {
    background: transparent;
  }

  nav ul {
    padding-top: 0;
  }
}

.close {
  @apply absolute top-8 left-8;
  z-index: 999;
}

@media (min-width: 375px) and (max-width: 425px) {
  .close {
    @apply top-10 left-10;
  }

}


body{
  font-family: 'Kumbh Sans', sans-serif;
}




